.bottom-nav{
  width:375px;
  height:84px;
  margin:0 auto;

  background:#efefef;

  display:flex;
  justify-content:space-around;
  align-items:flex-start;

  padding-top:12px;
  position:relative;
}


/* normal item */
.nav-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:14px;
  color:#333;
  gap:4px;
}

.nav-item svg{
  width:24px;
  height:24px;
}


/* active */
.nav-item.active{
  color:#ff3d3d;
}


/* floating center cart */
.nav-center{
  position:absolute;
  top:-22px;
  left:50%;
  transform:translateX(-50%);

  width:64px;
  height:64px;
  border-radius:50%;
  background:#e6e6e6;

  display:flex;
  align-items:center;
  justify-content:center;

  box-shadow:0 6px 18px rgba(0,0,0,.2);
}

.nav-center svg{
  width:28px;
  height:28px;
}
