.heels-card {
  width: 331px;
  height: 155px;
  margin: 8px auto;

  background: #ededed;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 16px;
}

/* IMAGE */
.heels-img {
  width: 144px;
  height: 108px;
  object-fit: contain;
}

/* TEXT BLOCK */
.heels-text {
  width: 163px;
}

.heels-text h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.heels-text p {
  margin: 6px 0 12px;
  font-size: 14px;
  color: #555;
}

/* BUTTON */
.visit-btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;

  background: #ff4b6e;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
