/* SECTION */
.arrivals-section{
  width:343px;
  height:270px;
  margin:20px auto;

  border-radius:12px;
  background:white;
  overflow:hidden;

  box-shadow:0 4px 20px rgba(0,0,0,.08);
}


/* IMAGE */
.arrivals-img{
  width:343px;
  height:200px;
  object-fit:cover;

  border-top-left-radius:8px;
  border-top-right-radius:8px;
}


/* BOTTOM BAR */
.arrivals-content{
  height:70px;
  padding:12px 16px;

  display:flex;
  align-items:center;
  justify-content:space-between;
}


/* TEXT */
.arrivals-text h3{
  margin:0;
  font-size:24px;
  font-weight:600;
}

.arrivals-text p{
  margin:4px 0 0;
  font-size:16px;
  color:#555;
}


/* BUTTON */
.arrivals-btn{
  padding:10px 18px;
  border:none;
  border-radius:8px;

  background:#ff4d67;
  color:white;

  font-size:15px;
  font-weight:500;
  cursor:pointer;
}
