.sponsored-section{
  width:383px;
  height:374px;

  padding:8px 16px;
  margin:20px auto;

  display:flex;
  flex-direction:column;
  gap:16px;
}


/* title */
.sponsored-title{
  width:151px;
  height:22px;
  font-size:24px;
  font-weight:500;
  margin:0;
}


/* image */
.sponsored-card img{
  width:351px;
  height:292px;
  object-fit:cover;
  border-radius:8px;
}


/* bottom row */
.sponsored-bottom{
  width:336px;
  height:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  font-size:22px;
  font-weight:600;
}

.arrow{
  font-size:28px;
}
